<footer>
  <div class="main">
    <div class="navigation">
      <ul>
      {% assign footer_pages = site.pages | where: "footer", "true" | sort: "position" %}
      {% for node in footer_pages %}
        <li>
          <a href="{{ node.url | prepend: site.baseurl }}">
            {{ node.title | remove: ' | decarcerate utah' }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="social">
      <p>
        @decarcerateutah
      </p>
      <ul>
        <li>
          {% include icon.html
            url="https://facebook.com/decarcerateutah"
            icon="fa fa-facebook"
            icon_class="footer"
          %}
        </li>
        <li>
          {% include icon.html
            url="https://instagram.com/decarcerateutah"
            icon="fa fa-instagram"
            icon_class="footer"
          %}
        </li>
        <li>
          {% include icon.html
            url="https://twitter.com/decarcerateutah"
            icon="fa fa-twitter"
            icon_class="footer"
          %}
        </li>
      </ul>
    </div>
  </div>
</footer>

