<aside>
  <nav>
    <ul>
      {% assign primary_nodes = site.pages | where: "nav", "true" | sort: "position" %}
      {% for node in primary_nodes %}
        {% include nav_item.html class="primary" %}
      {% endfor %}

      <li>
        <a href="https://www.slcbailfund.org", target="_blank">bail fund</a>
      </li>

      {% assign secondary_nodes = site.pages | where: "secondary", "true" | sort: "position" %}
      {% for node in secondary_nodes %}
        {% include nav_item.html class="secondary" %}
      {% endfor %}
    </ul>

    <div class="menu-activator" onClick="toggleMenu(this)">
      <div class="bar1"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </nav>
</aside>

<aside id="secondary">
  <nav>
    <ul>
      {% assign secondary_nodes = site.pages | where: "secondary", "true" | sort: "position" %}
      {% for node in secondary_nodes %}
        {% include nav_item.html %}
      {% endfor %}
    </ul>
  </nav>
</aside>

