body {
  background: $body-background-color;
  margin: 0;
  color: $font-color;
  font-family: $font;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;

  .content {
    max-width: $content-width;
    background: $main-background-color;
    margin: 0 auto 0;
  }
}

main {
  padding: $padding-top $padding-horiz $padding-bottom;
}

/* General */

h1, h2, h3, h4 {
  color: $heading-font-color;
  line-height: 1.2;
  font-weight: 600;
  a, a:visited {
    text-decoration: none;
    color: $heading-font-color;
  }
}

h1 {
  font-family: $h1-font;
  font-size: $h1-size;
}

h2 {
  font-family: $h2-font;
  font-size: $h2-size;
}

h3 {
  font-family: $h3-font;
  font-size: $h2-size;
}

h4 {
  font-family: $h4-font;
  font-size: $h2-size;
}

a, a:visited {
  color: $link-color;
  text-decoration: underline;
  font-family: $link-font;
}

ul {
  list-style-type: square;
}

ol {
  padding-left: 30px;
  list-style-type: decimal;
  ol {
    list-style-type: lower-alpha;
  }
}

img {
  width: $content-width;
  max-width: 100%;
  height: auto;
}

blockquote {
  font-style: italic;
}

a.button {
  text-decoration: none;
  text-transform: uppercase;
  line-height: normal;
  font-family: "Karla";
  font-weight: 600;
  color: $link-button-text-color;
  white-space: normal;
  padding: 5px 10px;
  border-radius: 4px;
  background: $link-button-color;
  max-width: 500px;
  &:hover, &:active {
    background: $link-button-hover-color;
    color: $link-button-hover-text-color;
  }
}

figcaption {
  font-size: $caption-font-size;
}

a.icon {
  color: $black;
  text-decoration: none;
  padding: 10px;
  width: 150px;
  &:active, &:hover {
    color: $link-button-hover-color;
  }
}

i.footer {
  font-size: 1.5em;
}

i.contact {
  font-size: 4em;
}

/* Classes */

.bibliography {
  font-size: $bibliography-font-size;
}

.post {
  h1 a {
    font-family: $title-font;
    &:hover {
      color: $font-color;
    }
  }
}

.post-image-container {
  text-align: center;
}

.event {
  border-top: 10px solid black;
  padding-bottom: 20px;
  h1 {
    margin: 20px 0;
  }
  a {
    text-decoration: none;
  }
  h4, p {
    margin: 0;
  }
}

.contact {
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
}

.contact.two {
  margin: 0 16.67%;
}

.date {
  font-family: $date-font;
  font-weight: bold;
}

.container {
  max-width: $content-width;
  margin: 0 auto;
}

.header {
  position: relative;
  text-align: center;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.post-teaser, .post-featured {
  padding: 20px 10px;
  a figure, p {
    padding: 0;
    margin: 0;
  }
  .read-more {
    text-align: center;
  }
}

.post-featured {
  border: 1px solid gray;
}

.all-posts {
  text-align: center;
  h3 a {
    text-decoration: underline;
    color: $link-color;
  }
}

.pagination {
  font-size: 20px;
  text-align: center;
  .active {
    font-weight: 600;
  }
  a, span {
    font-family: $paginator-font;
    padding: 0 5px;
  }
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.resources, .links {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    margin: 5px 0;
  }
}

a.donate {
  border-radius: 0;
  border: 1px solid $black;
  background: $yellow;
  color: $black;
}

.first-entry {
  border-top: none !important;
}

/* Footer */

footer {
  border-top: 1px solid black;
  padding-top: 20px;
  text-align: center;
  .main {
    display: flex;
    ul {
      padding: 0;
      list-style-type: none;
    }
    li {
      a, a:visited {
        color: $font-color;
      }
    }
    p {
      padding: 0;
    }
    .navigation, .social {
      width: 50%;
      li {
        padding: 0;
      }
    }
    .social li {
      display: inline;
    }
  }
}

/* Aside */

aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;

  nav {
    background: $nav-background-color;
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    box-shadow: 0px 1px 1px $gray;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        float: left;
        position: relative;
        padding: 0 1px;
        a, div {
          text-decoration: none;
          display: block;
          padding: $nav-padding-vert $nav-padding-horiz;
          font-family: $nav-font;
          font-size: $nav-font-size;
          color: $nav-text-color !important;
          line-height: $nav-line-height;
          margin-bottom: -1px;
          box-shadow: 0;
          &:hover,
          &:active,
          &.active {
            margin-bottom: -3px;
            border-bottom: 3px solid $black;
          }
        }
      }
    }
  }
}

aside#mobile {
  display: none;

  nav {
    justify-content: normal;
    top: $padding-top;

    ul {
      width: 100%;

      li {
        float: none;

        a, div {
          &:hover,
          &:active,
          &.active {
            margin-bottom: 0;
            border-bottom: 0;
          }
        }
      }

      li#menu-activator {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-gray;
        &:hover {
          cursor: pointer;
        }

        div#menu-activator-icon {
          visibility: hidden;
          opacity: 0;
          transition: 0.5s;
        }

        div#menu-activator-icon.transform {
          visibility: visible;
          opacity: 1;
          transition: 0.5s;
        }
      }

      li.menu-item {
        &:hover,
        &:active,
        &.active {
          border-left: 3px solid $black;
        }
      }

      div#menu-items {
        display: none;
        visibility: hidden;
        opacity: 0;
        transition: 0.5s;
      }

      div#menu-items.transform {
        display: block;
        visibility: visible;
        opacity: 1;
        transition: 0.5s;
      }
    }
  }
}

@media (max-width: $content-width) {
  aside#mobile {
    display: block;
  }

  aside#desktop {
    display: none;
  }
}

@media (max-width: 500px) {
  .contact {
    flex-direction: column;
  }
}

